.house{
    width: 800px;
    height: 900px;

    &_sigil{
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 50%;
    }

    
}
